

<div *ngIf="(accountService.currentUser$ | async)" class="container">
  <p>
    Example of a data dashboard. This component is only accessible to logged in users.
    Below is tracking ids that can be searched for. The data is fetched from a mock api.
  </p>
  <ul>
    <li>01GZH1021S3REB8SQ82XKESSNK</li>
    <li>01GZH1021TJM12NFCTGK7F2N41</li>
    <li>01GZH1021VAYSMYX4Z03N5PFTK</li>
    <li>01GZH1021VY9TAY7P04Q8J9P6D</li>
  </ul>
  <h1>Dashboard</h1>
  <div  class="search-container">
    <label class="search-box-label" for="search">Search</label>
    <textarea  [(ngModel)]="trackIds" type="text" class="search-box" name="search" placeholder="tracking id"></textarea>
  </div>
  <button (click)="getData()" type="submit" id="search-id" class="btn btn-primary">Submit</button>



  <div class="table-container" >
    <table id="data-table" class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders"  scope="col">{{header.name}}</th>
          <!-- <th scope="col">Address</th>
          <th scope="col">Email</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of accountData">
          <td><a href="">{{data.tracking_id}}</a></td>
          <td>{{data.last_scan_location}}</td>
          <td>{{data.order_number}}</td>
          <td>{{data.destination}}</td>
          <td>{{data.scan_time}}</td>
        </tr>
      </tbody>
    </table>
    <div id="header-toggle" class="dropdown" >
      <button class="btn-column" disabled>Columns</button>
      <div class="dropdown-content">
        <label><input type="checkbox" > tracking_id</label>
        <label><input type="checkbox" name="Address"> last_scan_location</label>
        <label><input type="checkbox" name="Email"> order_number</label>
      </div>
    </div>
  </div>
</div>






