<div *ngIf="!(accountService.currentUser$ | async)" class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center; ">
        <h1>Welcome to my Webpage</h1>
        <p class="lead">Here you can register to schedule time with to speak with me about my projects</p>
        <button (click)="registerToggle()" type="button" class="btn btn-lg btn-primary me-3 ">Register</button>
        <button  type="button" class="btn btn-lg btn-info">Learn More</button>
    </div>
</div>

<div *ngIf="registerMode" class="container">
    <div  class="row justify-content-center ">
        <div class="col-4">
            <app-register>  </app-register>
        </div>
        
    </div>
</div>

