<div *ngIf="!(accountService.currentUser$ | async)" class="container row justify-content-center ">
    <h1 class="title row justify-content-center">Sign Up</h1>
    <div class="w-25 mb-3 ">
        <form  class="" [formGroup]="registerForm" autocomplete="off">
            <input 
                formControlName="email"
                class="form-control mb-4" 
                type="text" 
                placeholder="Email">
            <input 
                formControlName="username"
                class="form-control mb-4" 
                type="text" 
                placeholder="Username">
            <input              
                formControlName="passwordHash"             
                class="form-control mb-4" 
                type="password" 
                placeholder="Password">
            <input
                formControlName="confirmPassword"             
                class="form-control mb-4" 
                type="password" 
                placeholder="Confirm Password">
            <button routerLink="/register" (click)="registerNewUser()" class="btn btn-outline-success me-5" type="submit" >Register</button>
            <button routerLink="/" class="btn btn-outline-danger" (click)="cancelRegister()"> Cancel </button>
          </form>
      
    </div>
</div>